.logo {
  text-align: center;
}
.logotagline {
  font-family: 'Coming Soon', cursive;
  color: var(--primary);
  font-size: 1rem;
  margin-bottom: 0px;
}
.logotitle {
  font-family: 'league_spartanbold', sans-serif;
  color: var(--primary);
  font-size: 1.25rem;
  margin-bottom: 0px;
}
.logoyellow {
  color: var(--warning);
}
.card {
  margin-bottom: 30px;
}
main {
  min-height: 90vh;
  margin-top: 275px;
}
.logoIcon {
  margin: 0px 10px 2px 10px;
}
.eyeIcon {
  color: var(--success);
}
.userIcon {
  color: var(--warning);
}
.brainIcon {
  color: var(--danger);
}
.topNav {
  padding: 5px 5px;
  background-color: white;
}
.topNavBtn {
  margin: 5px 5px;
}
.navbar-brand {
  padding: 5px 5px;
  margin: 0px;
}
footer {
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: var(--primary);
  color: white;
}
footer {
  padding: 0px;
}
footer .row {
  margin: 0px;
}
.location {
  padding: 10px;
}
.footerIcon,
.navIcon {
  margin-right: 3px;
}
.btnResponsive {
  padding: 4px;
  font-size: 0.7rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    margin-top: 250px;
  }
  .btnResponsive {
    padding: 6px;
    font-size: 1rem;
  }
}

@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');
@font-face {
  font-family: 'league_spartanbold';
  src: url('./fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
    url('./fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
