body {
  background-color: var(--light);
}
.fixed-top {
  width: 100%;
}
.logotagline {
  font-family: 'Coming Soon', cursive;
  color: var(--primary);
  font-size: 1rem;
  margin-bottom: 0px;
}
.logotitle {
  font-family: 'league_spartanbold', sans-serif;
  color: var(--primary);
  font-size: 1.25rem;
  margin-bottom: 0px;
}
.navbar-brand a:hover {
  text-decoration: none;
}
.logoyellow {
  color: var(--warning);
}

.card {
  margin-bottom: 30px;
}
.marginfornav {
  margin-top: 111px;
}
.max800 {
  width: 100vw;
}
.paddingAround {
  padding: 30px;
}
main {
  min-height: 90vh;
  background-color: white;
}
main h1 {
  font-size: 1.9rem;
}
main h2 {
  font-size: 1.7rem;
}
main h3 {
  font-size: 1.5rem;
}
main h4 {
  font-size: 1.3rem;
}
main h5 {
  font-size: 1.1rem;
}
main h6 {
  font-size: 0.9rem;
}
.pageTitle {
  font-family: 'league_spartanbold', sans-serif;
  margin: 10px 0px;
}
.logoIcon {
  margin: 0px 10px 2px 10px;
}
.eyeIcon {
  color: var(--success);
}
.userIcon {
  color: var(--warning);
}
.brainIcon {
  color: var(--danger);
}
.topNav {
  padding: 5px 5px;
  margin: 0px;
}
.topNavBtn {
  margin: 0px 5px 0px 5px;
  padding: 4px 6px;
  font-size: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--light);
}
.navbar-dark .nav-item a.nav-link:hover,
.navbar-dark .nav-item a.nav-link:focus {
  color: var(--primary);
}
.navbar-dark .nav-item a.nav-link:active {
  color: var(--primary);
}
.navbar-dark .dropdown-item a.nav-link {
  color: var(--light);
}
.navbar-dark .dropdown-item:hover {
  background-color: #3c434a;
}
.navbar-dark .dropdown-menu {
  background-color: #3c434a;
}

.topNavBtn:hover,
.topNavBtn:active {
  color: var(--light);
  border-color: var(--light);
  background-color: var(--dark);
}
.navbar-brand {
  padding: 5px 5px;
  margin: 0px;
}
footer {
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: var(--dark);
  color: var(--light);
}
footer {
  padding: 0px;
}
.footerBtn {
  background-color: var(--light);
}
.footerBtn:hover {
  color: var(-light);
  border-color: var(--light);
}
.footerRow {
  padding: 10px;
  margin: 0px;
}
.footerCol {
  padding: 20px 15px 0px 15px;
  margin: 0px;
}
.footerlocation {
  color: var(--primary);
}
.locationMap {
  margin-top: 15px;
}
.footerIcon,
.navIcon {
  margin-right: 3px;
}
a .socialIcon {
  color: var(--light);
}
a .socialIcon:hover {
  color: var(--primary);
}
.socialIcon {
  margin: 10px 7px;
}
.socialRow {
  text-align: center;
}
.copyRow {
  text-align: center;
}
.formBtn {
  color: var(--light);
}
.bottomNav {
  overflow-y: scroll;
  padding: 4px 16px;
  margin: 0px;
}
.nav-link {
  padding: 4px 8px;
}
.coverPhoto {
  width: 100vw;
  height: auto;
}
.hours {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
.form {
  max-width: 600px;
}
.apptcheckbox {
  padding-left: 15px;
}

.homeLinksTitle {
  font-family: 'Coming Soon', cursive;
}
.homeLinks {
  margin: 0px;
  color: var(--light);
  background-color: var(--primary);
}
.homeLinksSection .card {
  border: none;
  border-radius: 0px;
  margin: 0px;
}
.homeLinksButton:hover {
  color: var(--light);
  border-color: var(--light);
}
.homeLinksButton {
  background-color: var(--light);
}

.grid-divider {
  overflow-x: hidden;
  position: relative;
}
.grid-divider > [class*='col-']:nth-child(n + 2):after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  left: 0;
  top: -4px; /* quickfix to center line between columns */
}
.grid-divider-primary > [class*='col-']:nth-child(n + 2):after {
  background-color: var(--primary);
}
.grid-divider-light > [class*='col-']:nth-child(n + 2):after {
  background-color: var(--light);
}

.wivt-fordoctors-row {
  margin: 0px;
}
.wivt-fordoctors-col {
  padding: 50px;
}

.missionVerbs {
  font-family: 'Coming Soon', cursive;
  margin: 0px;
}
.wideSectionTitle {
  background-color: var(--primary);
  color: var(--light);
}
.allServicesCol {
  margin: 0px;
  padding: 0px;
}
.extraPaddingBottomPhone {
  padding-bottom: 50px;
}

.effect8 {
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before,
.effect8:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 5px;
  border-radius: 100px / 5px;
}
.effect8:after {
  right: 5px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.bioimg {
  max-width: 352px;
  margin-top: 20px;
  border-radius: 0.25rem;
}

@media (max-width: 370px) {
  .marginfornav {
    margin-top: 151px;
  }
}
@media (max-width: 414px) {
  .bioimg {
    margin-top: 0px;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .topNavBtn {
    font-size: 1rem;
  }
  .paddingAround {
    padding: 30px 50px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .marginfornav {
    margin: 138px 0px 30px 0px;
  }
  main {
    margin-top: 158px;
  }
  .bottomNav {
    overflow-y: visible;
  }
  main h1 {
    font-size: 2.5rem;
  }
  main h2 {
    font-size: 2rem;
  }
  main h3 {
    font-size: 1.75rem;
  }
  main h4 {
    font-size: 1.5rem;
  }
  main h5 {
    font-size: 1.25rem;
  }
  main h6 {
    font-size: 1rem;
  }
  .grid-divider > [class*='col-']:nth-child(n + 2):after {
    width: 1px;
    height: auto;
    left: -1px; /* quickfix to hide divider on left side */
    top: 0px;
  }
  .wivt-fordoctors-col {
    padding: 100px;
  }
  .wideSectionTitle {
    padding: 15px calc(15px + 5vw);
  }
  .extraPaddingBottomPhone {
    padding-bottom: 15px;
  }
  .max800 {
    max-width: 90vw;
  }
  .socialRow {
    text-align: right;
  }
  .copyRow {
    text-align: left;
  }
  .biocard .card {
    border: none;
  }
  .bioimg {
    margin-top: 0px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .locationMap {
    margin-top: 0px;
  }
  .marginfornav {
    margin: 114px 0px 30px 0px;
  }
  .max800 {
    max-width: 800px;
    width: 90vw;
  }
}

@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');
@font-face {
  font-family: 'league_spartanbold';
  src: url('./fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
    url('./fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i&display=swap');
