.logo {
  text-align: center;
}
.logotagline {
  font-family: 'Coming Soon', cursive;
  color: white;
  font-size: 1rem;
  margin-bottom: 0px;
}
.logotitle {
  font-family: 'league_spartanbold', sans-serif;
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0px;
}
.logoyellow {
  color: var(--warning);
}
.card {
  margin-bottom: 30px;
}
.marginfornav {
  margin-top: 162px;
}
main {
  min-height: 90vh;
  padding: 10px;
  max-width: 800px;
}
main h1 {
  font-size: 1.9rem;
}
main h2 {
  font-size: 1.7rem;
}
main h3 {
  font-size: 1.5rem;
}
main h4 {
  font-size: 1.3rem;
}
main h5 {
  font-size: 1.1rem;
}
main h6 {
  font-size: 0.9rem;
}
.pageTitle {
  font-family: 'league_spartanbold', sans-serif;
  margin: 25px 0px;
}
.logoIcon {
  margin: 0px 10px 2px 10px;
}
.eyeIcon {
  color: var(--success);
}
.userIcon {
  color: var(--warning);
}
.brainIcon {
  color: var(--danger);
}
.topNav {
  padding: 5px 5px;
}
.topNavBtn {
  margin: 5px 5px;
  background-color: white;
  padding: 4px;
  font-size: 0.8rem;
}
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.topNavBtn:hover,
.footerBtn:hover {
  color: white;
  border-color: white;
}
.navbar-brand {
  padding: 5px 5px;
  margin: 0px;
}
footer {
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: var(--primary);
  color: white;
}
footer {
  padding: 0px;
}
.footerBtn {
  background-color: white;
}
.footerRow {
  padding: 10px;
  margin: 0px;
}
.footerCol {
  padding: 20px 15px 0px 15px;
  margin: 0px;
}

.locationMap {
  margin-top: 15px;
}
.footerIcon,
.navIcon {
  margin-right: 3px;
}
.formBtn {
  color: white;
}
.bottomNav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  max-height: 300px;
  padding: 4px 16px;
}
.nav-link {
  padding: 4px 8px;
}
.coverPhoto {
  width: 100vw;
  height: auto;
}
.hours {
  width: 240px;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  text-align: center;
}
.form {
  max-width: 600px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .marginfornav {
    margin-top: 177.5px;
  }
  main {
    padding: 30px;
  }
  .topNavBtn {
    padding: 6px;
    font-size: 1rem;
  }
  .bottomNav {
    overflow-y: visible;
  }
  main h1 {
    font-size: 2.5rem;
  }
  main h2 {
    font-size: 2rem;
  }
  main h3 {
    font-size: 1.75rem;
  }
  main h4 {
    font-size: 1.5rem;
  }
  main h5 {
    font-size: 1.25rem;
  }
  main h6 {
    font-size: 1rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .locationMap {
    margin-top: 0px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');
@font-face {
  font-family: 'league_spartanbold';
  src: url('./fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
    url('./fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i&display=swap');
