// Override default variables before the import
$body-bg: #fff;
$theme-colors: (
  'primary': #38b6ff,
  'danger': #e0629a,
  'warning': #ffd249,
  'success': #89d085
);
$link-color: #38b6ff;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
